@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
    }

/* .title
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    margin:10px;
}
.p{
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
    size:100px;
}
.add-form 
{
    margin-bottom: 40px;
}
.container
{
    width:200px;
    height:50px;
    background-color:darkgrey;
    margin:10px;
}
.button
{
    width:100px;
    height:50px;
    background-color: navy;
    margin:20px;
    font-size:20px;
    color:green;
} */