@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}

input[type="file"]::file-selector-button {
    background: rgba(128, 128, 128, 0.484);
    color: rgba(0, 0, 0, 0.849);
}
input[type="file"]::file-selector-button:hover {
    background: rgba(128, 128, 128, 0.763);
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: gray;
}

[contentEditable=true]:focus {
    outline: 0px solid transparent;
}