@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}

input[type="file"]::file-selector-button {
    background: rgba(128, 128, 128, 0.484);
    color: rgba(0, 0, 0, 0.849);
}
input[type="file"]::file-selector-button:hover {
    background: rgba(128, 128, 128, 0.763);
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: gray;
}

[contentEditable=true]:focus {
    outline: 0px solid transparent;
}

#RTE-text h1 {
    display: block;
    font-size: 2em;
    /* margin-top: 0.67em; */
    /* margin-bottom: 0.67em; */
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
#RTE-text h2 {
    display: block;
    font-size: 1.5em;
    /* margin-top: 0.83em; */
    /* margin-bottom: 0.83em; */
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
#RTE-text h3 {
    display: block;
    font-size: 1.17em;
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

#RTE-text ol{
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

#RTE-text ul{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

#RTE-text hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#rte-placeholder{
  color: red;
}

.test:focus {
  border: 1px solid red;
}

#RTE-text code{
  background-color:rgba(0, 0, 0, 0.201);
  padding: 2px;
}

#RTE-text blockquote{
  margin-left: 40px;
  padding-left: 18px;
  border-left: 3px rgb(183, 183, 183) solid;
}

#thread-preview-content{
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
